<!DOCTYPE html>
<html lang="ug" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div class="times" dir="ltr">
    <h2>{[{ .now | formatAsDate }]}</h2>
    <h2>{[{ .now | formatAsTime }]}</h2>
    <h2>{[{ .year }]}</h2>
  </div>
  <p>ئەسسلاممۇئەلەيكۇم</p>
</body>
</html>
